{% extends 'base.html' %}

{% block title %}Все опросы{% endblock title %}

{% block page_header %}Все опросы{% endblock page_header %}

{% block content %}
    {% if not polls %}
        <h2>НЕТ Опросов</h2>
    {% endif %}

    {% for poll in polls %}
        <div class="card w-50 p-3 mx-auto mt-2 .bg-light">
          <div class="card-header">
            Опрос
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{ poll.question }}</p>
                <a href="{% url "poll-view" poll.id %}"><footer class="blockquote-footer">Просмотр...</footer></a>
                <a href="{% url "answer" poll.id %}">Пройти опрос</a>
            </blockquote>
          </div>
        </div>
    {% endfor %}
    <div class="col text-center mt-3">
        <a href="{% url "poll-add" %}" class="btn btn-primary btn-lg active"
       role="button"
       aria-pressed="true">Добавить вопрос</a>
    </div>
    {% include 'partial/paginate.html' %}
{% endblock content %}
