{% extends "base.html" %}

{#{% block menu %}#}
{#    <li><a href="{% url "article-add" %}">Создать статью</a></li>#}
{#    <li><a href="{% url "article-update" article.id %}">Редактировать статью</a></li>#}
{#    <li><a href="{% url "article-delete" article.id %}">Удалить статью</a></li>#}
{#    <li><a href="{% url "article-commnet-create" article.id %}">Добавить Комментарий</a></li>#}
{#{% endblock menu %}#}

{% block page_header %}Опрос {{ poll.id }}{% endblock page_header %}

{% block content %}
    <p>Title: {{ poll.question }}</p>

    <h2>Choices:</h2>
    {% for choice in poll.choices.all %}
        <p>{{ choice.choice }}</p>
    {% empty %}
        <p>Нет вариантов :(</p>
    {% endfor %}
{% endblock content %}