{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% for choice in poll.choices.all %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="choice"
                     id="{{ choice.id }}" value="{{ choice }}" checked>
              <label class="form-check-label" for="{{ choice.id }}">
                {{ choice }}
              </label>
            </div>
        {% endfor %}
        <p><input type="submit" value="Ответить"></p>
    </form>
{% endblock content %}
